* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: scroll black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

div {
    background: rgb(233, 142, 22);
    text-align: center;
    height: 10px;
    padding-top: 15px;
   
    
}
div a {
    padding: 30px;
    color: blanchedalmond;
    text-align: center;
  
   
    
}

header div a:hover {
    color: black;
    transition:  color 200ms;
}

div img {
    padding-top: 70px;
    
}

div h1 {
    color: rgb(126, 127, 129);
    font-size: 16px;

    padding-top: 450px;
}